---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<style lang="scss">
  @use "../../styles/variables";

  a {
    max-width: fit-content;
    display: block;
    margin: 0;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 90%);
    padding: 0.6rem 1.3rem;
    border-radius: 2rem;
    background-color: hsl(201, 84%, 80%);
    text-decoration: none;
    box-shadow: 0 0.2rem 0.6rem hsla(0, 0%, 0%, 10%);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: hsl(201, 100%, 66%);
    }
  }
</style>
<a href={href}>
  <slot />
</a>
