.text {
	margin-bottom: 3rem;
}

.link-blog {
	display: block;
	background-color: hsl(337, 100%, 64%);
	color: hsl(0, 0%, 100%);
	padding: 1.2rem 2.6rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
	max-width: fit-content;
}

.post {
	max-width: fit-content;
	display: block;
	padding: 1rem 2rem;
	border-radius: 1rem;
	margin-bottom: 3rem;
	box-shadow: rgba(17, 12, 46, 0.1) 0px 10px 30px 0px;
}

.post:hover {
	box-shadow: rgba(17, 12, 46, 0.2) 0px 10px 30px 0px;
}

.post .title {
	font-weight: 600;
}

.post .author {
	font-size: 1.4rem;
}

.post .resumen {
	max-height: 4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
