---
import Layout from "../layouts/Layout.astro";
---

<style>
  div {
    max-width: 60ch;
    margin: 0 auto;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
</style>
<Layout pageTitle="Page not found" pageDescription="Page not found ">
  <div>
    <h1>Página no encontrada</h1>
    <p>Lo siento, pero pero esa página no existe o ha sido eliminada.</p>
    <a href="/">Ir a inicio</a>
  </div>
</Layout>
