---
import Layout from "../layouts/Layout.astro";
import cat001 from "../images/cat-001.jpg";
---

<Layout pageTitle="acerca de" pageDescription="Página acerca de">
  <h1>Acerca de mí</h1>
  <p>
    Mi nombre es Adrián González y soy un desarrollador web apasionado por la
    tecnología y el diseño gráfico. Me encanta aprender cosas nuevas,
    especialmente en el área de diseño de interfaces, programación, música,
    gatos y disfruto mucho de una refrescante Fanta naranja.
  </p>
  <p>Este sitio web está creado usando Astro y Sass principalmente.</p>
  <p>
    Puedes conocer más acerca de mi en
    <a href="/blog/posts/acerca-de-mi">este post</a>. Puedes contactarme por
    medio de mi perfil de <a target="_blank" href="https://github.com/mgrmars"
      >Github</a
    >.
  </p>
</Layout>
