---
import Layout from '../layouts/Layout.astro';
import bocchi from '../images/bocchi-2.jpeg'
---

<Layout pageTitle='acerca de' pageDescription='Página acerca de'>

	<img src={bocchi} alt="">

	<h1>Acerca de</h1>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia eaque
		molestiae, eveniet excepturi vel sunt sequi ipsum velit mollitia ea
		reprehenderit! Corporis quas asperiores quam in voluptatem expedita nisi
		aspernatur?
	</p>
</Layout>
