---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="inicio" pageDescription="Página inicio">
  <style lang="scss">
    article {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-size: 3rem;
      }

    }
  </style>
  <article>
    <h1>Hola</h1>
    <p>Esta es mi página web</p>
  </article>
</Layout>
