---
import Layout from '../layouts/Layout.astro';
import bocchi from '../images/bocchi-1.jpeg';
---

<Layout pageTitle='inicio' pageDescription='Página inicio'>
	<h1>Inicio</h1>
	<p>Bienvenido a mi página web</p>
	<p>Texto de ejemplo!</p>

	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima explicabo
		aperiam dolore expedita quibusdam similique aliquam illo excepturi neque,
		animi nam nobis voluptatum accusamus ipsum velit, culpa aspernatur
		cupiditate iste.
	</p>
	<img src={bocchi} alt='Imagen de bocchi' />
</Layout>
