---
import Layout from '../layouts/Layout.astro';
import bocchi from '../images/bocchi-1.jpeg';
---

<Layout pageTitle='inicio' pageDescription='P치gina inicio'>
	<h1>Inicio</h1>
	<p>Hola, bienvenido a mi p치gina web 游뗵, est치 en construcci칩n, asi que no hay mucha informaci칩n y contenido.</p>
	<p>El poco contenido que hay puede ser visto usando la navegaci칩n en la parte superior derecha.</p>
</Layout>
