---
// components
import LastestPost from "../components/Sections/LastestPost.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="inicio" pageDescription="Página inicio">
  <style lang="scss">
    @use "../styles/variables";
    .hero {
      h1 {
        color: variables.$color-06;
      }
      text-align: center;
      max-width: fit-content;
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: column;

      height: calc(100vh - 12rem);
    }
  </style>

  <div class="hero">
    <h1>Adrian Gonzales</h1>
    <p>Amante de los gatos y la programación</p>
  </div>

  <LastestPost />
</Layout>
