---
import HeaderLink from './HeaderLink.astro';
---

<!-- Style -->
<style lang='scss'>
  $background-color: hsl(0, 0%, 15%);
  $foreground-primary: hsl(0, 0%, 95%);
  $foreground-secondary: hsl(0, 0%, 85%);
  $foreground-terciary: hsl(0, 0%, 80%);

  $padding: 1.2rem 1.6rem;
  .container {
    z-index: 2;
    position: fixed;
    width: 100%;
    .top-navigation {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $background-color;
      color: $foreground-terciary;
      padding: $padding;

      .logo {
        font-weight: 600;
        color: $foreground-terciary;
        text-decoration: none;
      }
    }

    .navigation-menu {
      z-index: -1;
      position: absolute;
      transform: translateY(-100%);
      width: 100%;
      padding: $padding;
      background-color: $background-color;
      transition: transform 200ms ease-in-out;
      &.active {
        transform: translateY(0);
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        li {
          margin: 1rem 0;
          text-align: center;
          a {
            text-decoration: none;
            color: $foreground-terciary;
            transition: color 200ms ease-in-out;
            &:hover {
              color: $foreground-primary;
            }

            &.active {
              font-weight: 600;
              color: $foreground-primary;
            }
          }
        }
      }
    }
  }
</style>
<!-- Component -->
<header>
  <div class='container'>
    <div class='top-navigation'>
      <a href='/' class='logo'>Adrian</a>
      <span id='menu-button' class='burger-button material-symbols-outlined'
        >menu</span
      >
    </div>
    <nav id='menu-nav' class='navigation-menu'>
      <ul>
        <li>
          <HeaderLink href='/'>Home</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/blog'>Blog</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/about'>About</HeaderLink>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  const menuButton = document.getElementById('menu-button');
  const menuNav = document.getElementById('menu-nav');

  menuButton.addEventListener('click', () => {
    menuNav.classList.toggle('active');
  });
</script>
