---
import '../styles/ButtonBlog.css';

interface Props {
	href?: string;
	title: string;
	author: string;
	resumen: string;
}

const { href, resumen, title, author } = Astro.props;
---

<a class='post' href={href}>
	<h3 class='title'>{title}</h3>
	<span class='author'>Por {author}</span>
	<p class='resumen'>{resumen}</p>
</a>
