---
interface Props {
  href?: string;
  title: string;
  author: string;
  resumen: string;
}

const { href, resumen, title, author } = Astro.props;
---

<!-- Style: SASS (.scss)  -->
<style lang="scss">
  .post {
    display: block;
    text-decoration: none;
    margin-block-end: 1rem;
    padding: 1rem;
    color: inherit;
    outline: 0.1rem solid hsla(0, 0%, 0%, 20%);
    border-radius: 0.2rem;

    .author {
      font-weight: 500;
    }
  }
</style>
<!-- Component -->
<a class="post" href={href}>
  <h3 class="title">{title}</h3>
  <span>de <span class="author">{author}</span></span>
</a>
