---
import '../styles/Header.css';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a class='logo' href='/'>Adrian</a>
	<nav>
		<ul>
			<li>
				<HeaderLink class='link' href={'/'}>Inicio</HeaderLink>
			</li>
			<li>
				<HeaderLink class='link' href={'/acercade'}>Acerca de</HeaderLink>
			</li>
			<li>
				<HeaderLink class='link' href={'/blog'}>Blog</HeaderLink>
			</li>
		</ul>
	</nav>
</header>
