---
import { formatDate } from "../../js/utils";
---

<style lang="scss">
  @use "../../styles/variables";
  footer {
    padding: 1rem 2rem;
    background-color: variables.$color-05;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    gap: 1rem;

    * {
      margin: 0;
    }

    p {
      color: variables.$color-06;
      font-size: inherit;
    }

    li {
      list-style-type: none;
    }

    a {
      color: variables.$color-06;
      font-size: inherit;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: variables.$color-03;
      }
    }

    address {
      font-style: normal;
    }

    .website-author {
      margin-bottom: 0.5rem;
    }
  }
</style>
<footer>
  <section>
    <p class="website-author">Sitio web creado por Adrian Gonzales.</p>
    <p class="last-update">
      Última actualización {formatDate("03-10-2023")}
    </p>
  </section>
  <address>
    <p>Contacto</p>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/mgrmars">
          Perfil de Github
        </a>
      </li>
    </ul>
  </address>
</footer>
