---
import "../styles/Layout.scss";

import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts and icons from Google Fonts -->
    <!-- Start font tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- End font tags -->
    <!-- Start icon tags -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- End icon tags  -->
    <title>Adrian | {pageTitle}</title>
  </head>
  <body>
    <div class="content">
      <Header />
      <main>
        <div class="container">
          <slot />
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
