---
import Header from '../components/Header.astro';

import '../styles/Layout.css';

interface Props {
	pageTitle: string;
	pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='description' content={pageDescription} />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' /><link
			rel='preconnect'
			href='https://fonts.gstatic.com'
			crossorigin
		/>
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'
			rel='stylesheet'
		/>
		<title>Astro | {pageTitle}</title>
	</head>
	<body>
		<div class='content'>
			<Header />

			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
